.projects_section {
  width: 100%;
  padding: 10px;
  .projects_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    gap: 1rem;

    padding: 10px;
    .project_card {
      // position: relative;

      width: 25rem;
      height: 25rem;

      border-radius: 5px;
      padding: 10px;
      outline: 2px solid #101010;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   opacity: 0;
      //   background-image: url("../../assets/2B-project.jpg");
      //   background-size: cover;
      //   background-position: center;
      //   transition: opacity 0.2s ease-in-out;
      // }
      // &:hover::before {
      //   opacity: 1;
      // }
    }

    .project_card__content {
      width: 100%;
      min-width: 25rem;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .project_card__header {
      }
      .project_card__body {
      }
      .project_card__footer {
        .project_techs_group {
          img {
            width: 2.7rem;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .projects_section {
    h2 {
      font-size: 2em;
    }
    .projects_list {
      .project_card {
        .project_card__content {
          .project_card__header {
            h3 {
              font-size: 1.5em;
            }
          }
          .project_card__body {
            p {
              font-size: 1.6em;
            }
          }
          .project_card__footer {
            p {
              font-size: 1.3em;
            }
          }
        }
      }
    }
  }
}
