.projects_section {
  width: 100%;
  padding: 10px;
  .projects_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    gap: 1rem;

    padding: 10px;
    .project_card {
      width: 25rem;
      height: 25rem;

      outline: 2px solid #101010;
      border-radius: 5px;

      padding: 10px;

      transition: all 0.2s;

      &:hover {
        transform: scale(1.03);
      }

      .project_card__content {
        width: 100%;
        min-width: 25rem;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .project_card__header {
        }
        .project_card__body {
        }
        .project_card__footer {
          .project_techs_group {
            img {
              width: 2.7rem;

              transition: all 0.2s;

              &:hover {
                transform: translateY(-5px);

                transition: all 0.2s;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .projects_section {
    h2 {
      font-size: 2em;
    }
    .projects_list {
      .project_card {
        .project_card__content {
          .project_card__header {
            h3 {
              font-size: 1.5em;
            }
          }
          .project_card__body {
            p {
              font-size: 1.6em;
            }
          }
          .project_card__footer {
            p {
              font-size: 1.3em;
            }
          }
        }
      }
    }
  }
}
