.contact__form {
  .form__content {
    .form__header {
    }
    .form__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 1rem;
      input,
      textarea {
        width: 20rem;

        border-radius: 5px;
        border: none;

        font-size: 16px;
        font-family: "Quicksand", sans-serif;

        color: black;
        background-color: #e7e7e7;

        padding: 1em;

        &:focus {
          outline: none;
        }
      }

      textarea {
        resize: none;
      }
    }
    .form__footer {
    }
  }
}
