.contact__form {
  height: 100%;

  .form__content {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f1f1f1;
    .form__body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      gap: 1rem;
      input,
      textarea {
        width: 20rem;

        border-radius: 5px;
        border: none;

        font-size: 16px;
        font-family: "Quicksand", sans-serif;

        color: black;
        background-color: #ffffff;

        filter: drop-shadow(3px 1px 2px #e7e7e7);

        padding: 1em;

        &:focus {
          outline: none;
        }
      }

      textarea {
        resize: none;
      }
    }
    .form__footer {
    }
  }
}
