.idioms_section {
  width: 100%;
  .idioms_cards {
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-wrap: wrap;

    padding: 1rem;
    gap: 1rem;

    .idiom_card {
      width: 15rem;
      height: 20rem;

      border-radius: 10px;

      border: 2px solid black;

      padding: 10px;

      transition: 0.2s;

      &:hover {
        transform: translateY(-5px);

        border-color: #646cff;

        transition: 0.2s;
      }

      .idiom_card__content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .idiom_card__header {
          h3 {
          }
        }

        .idiom_card__body {
          p {
            font-weight: 500;
            letter-spacing: 2px;
          }

          div {
            img {
              width: 5rem;
            }
          }
        }

        .idiom_card__footer {
          p {
            font-weight: 500;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .idioms_section {
    h2 {
      font-size: 2em;
    }
    .idioms_cards {
      .idiom_card {
        .idiom_card__content {
          .idiom_card__header {
            h3 {
              font-size: 1.3em;
            }
          }
          .idiom_card__body {
            p {
              font-size: 1.2em;
            }
          }
          .idiom_card__footer {
            p {
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }
}
