#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 100%;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact_btn {
  position: absolute;

  top: 0;
  right: 0;

  margin: 1rem;

  z-index: 1;
}

.control_theme_div {
  position: fixed;

  top: 0;
  right: 0;

  margin: 1rem;
}

.read-the-docs {
  color: #888;
}
