#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 100%;
  min-width: 320px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_btn {
  position: absolute;

  top: 0;
  right: 0;

  margin: 1rem;

  z-index: 1;
}

.control_theme_div {
  position: fixed;

  top: 0;
  right: 0;

  margin: 1rem;
}

.profile {
  height: 15em;
  padding: 1.5em;

  border-radius: 20%;

  border: 5px solid #666666;

  padding: 5px;
  background: #333333;

  outline: 5px solid #999999;

  box-shadow: 0 0 0 10px #cccccc, 0 0 0 15px #e6e6e6;

  transition: 1s;
}

.presentation_card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 25rem;

  padding: 2rem;

  border: 2px solid #101010;
  border-radius: 5% 20%;

  transition: 1s;
}

.presentation_card:hover {
  background-color: #101010;
  color: white;

  transition: 1s;
}

.presentation_card:hover .profile {
  border: 5px solid #cccccc;

  padding: 5px;
  background: #e6e6e6;

  outline: 5px solid #999999;

  box-shadow: 0 0 0 10px #666666, 0 0 0 15px #333333;

  transition: 1s;
}

.badge_card {
  width: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  gap: 7px;

  padding: 5px;
}

.presentation_text {
  margin: 1rem;
}

.presentation_text p {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.presentation_text .keep_scrolling_text {
  text-decoration: underline;
}

.quick_presentation__company {
  cursor: pointer;

  transition: 0.2s;
}

.quick_presentation_text a {
  color: #4d4dfa;
}

.quick_presentation__company:hover {
  color: #8181cf;

  transition: 0.2s;
}

.badge_card img {
  width: 2rem;
  height: 2rem;

  filter: grayscale(1);

  transition: 0.2s;

  animation: badge-spin infinite 20s linear;
}

.presentation_card:hover .badge_card img {
  filter: none;

  transition: 0.2s;
}

@keyframes badge-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .badge img {
    animation: badge-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
